@import "../fontawesome-free-5.14.0-web/css/all.css";
@import "bootstrap.min.css";
@import "owl.carousel.min.css";
@import "owl.theme.default.css";
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.font-size-xs {
  font-size: 16px;
}

.font-size-sm {
  font-size: 18px;
}

.font-size-md {
  font-size: 20px;
}

.font-size-lg {
  font-size: 24px;
}

.font-size-xl {
  font-size: 42px;
}

h1 {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 42px;
  color: #5B5E5F;
}

h3 {
  font-family: "Roboto-Medium", sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #5B5E5F;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 28px;
}

.text-white {
  color: #ffffff !important;
}

.text-dark {
  color: #5B5E5F !important;
}

.text-primary {
  color: #457692 !important;
}

.text-warning {
  color: #96999A !important;
}

@media screen and (min-width: 768px) {
  .bg-lg-white {
    background-color: #ffffff !important;
  }
}

@media screen and (max-width: 768px) {
  .bg-xs-transparent {
    background-color: transparent !important;
  }
}

.bg-gray {
  background-color: #EFEEEB !important;
}

.btn-primary {
  font-size: 18px;
  line-height: 26px;
  background-color: #457692;
  color: #ffffff;
  border: none;
  text-align: center;
  padding: 15px 46px;
}

.btn-light {
  font-size: 18px;
  line-height: 26px;
  background-color: #ffffff;
  color: #457692;
  border: 2px solid #457692;
  text-align: center;
  padding: 15px 46px;
}

.btn-xlg {
  font-size: 18px;
  line-height: 26px;
  background-color: #ffffff;
  color: #5B5E5F;
  border: 2px solid #5B5E5F;
  padding: 12px 16px;
}
@media screen and (max-width: 992px) {
  .btn-xlg {
    border: none;
  }
}
@media screen and (max-width: 576px) {
  .btn-xlg {
    font-size: 10px;
    padding: 0px;
  }
}

.btn-lg {
  font-size: 18px;
  line-height: 26px;
  padding: 15px 46px;
}

.btn-primary:active, .btn-light:active, .btn-primary:focus, .btn-light:focus, .btn-primary:hover, .btn-light:hover {
  background-color: #ffffff !important;
  border-color: #457692 !important;
  color: #457692 !important;
  outline: none !important;
  box-shadow: 0px 15px 18px rgba(87, 74, 151, 0.21);
}

.btn:active, .btn:focus {
  outline: none !important;
  box-shadow: none;
}

.navbar-nav .nav-item .nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #5B5E5F;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin: 30px 16px;
  padding: 0;
  display: inline-block;
  text-transform: uppercase;
}
@media screen and (max-width: 992px) {
  .navbar-nav .nav-item .nav-link {
    margin: 14px 16px;
  }
}

.navbar-nav .nav-item .nav-link:hover, .navbar-nav .nav-item .nav-link:focus {
  color: #457692;
}

@media screen and (max-width: 576px) {
  .navbar .logo-img {
    width: 100px;
  }
}

.right {
  position: relative;
  margin-left: -8.333333%;
}

.left {
  z-index: 2;
  margin-right: -8.333333%;
}
@media screen and (max-width: 992px) {
  .left {
    margin-right: -60.333333%;
  }
}

@media screen and (max-width: 768px) {
  .left,
.right {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 768px) {
  .main-section {
    background-image: url("../images/main_mobile.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.services-section .owl-nav button.owl-next, .services-section .owl-nav button.owl-prev {
  display: none;
}

.owl-dots .owl-dot span {
  width: 13px;
  height: 13px;
  border: 1px solid #5B5E5F;
  display: inline-block;
  margin: 0 9px;
  margin-top: 50px;
}

.owl-dots {
  text-align: center;
}

.owl-dots .owl-dot.active span {
  background-color: #5B5E5F;
}

.articles-section .owl-nav button.owl-next {
  background-image: url("../images/arrow-next.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 64px;
  height: 64px;
  color: #5B5E5F;
  position: absolute;
  top: 140px;
  right: -65px;
}
.articles-section .owl-nav button.owl-next span {
  display: none;
}
@media screen and (max-width: 1280px) {
  .articles-section .owl-nav button.owl-next {
    display: none;
  }
}
.articles-section .owl-nav button.owl-prev {
  background-image: url("../images/arrow-prev.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 64px;
  height: 64px;
  color: #5B5E5F;
  position: absolute;
  top: 140px;
  left: -65px;
}
.articles-section .owl-nav button.owl-prev span {
  display: none;
}
@media screen and (max-width: 1280px) {
  .articles-section .owl-nav button.owl-prev {
    display: none;
  }
}
.articles-section .card {
  border: none;
}

@media screen and (max-width: 992px) {
  .dropdown-menu {
    border: none;
  }
}

footer ul {
  list-style-type: none;
  padding: 0;
}
footer ul li > a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #5B5E5F;
}
footer ul li > a:hover {
  color: #96999A;
  text-decoration: none;
}

.social-img {
  display: inline-block;
  width: 32px;
  height: 32px;
  color: #ffffff;
  background-color: #96999A;
  line-height: 27px;
  font-size: 16px;
  text-align: center;
}
.social-img a {
  color: #ffffff;
  position: relative;
  bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
